.form-v1-container {
  width: 100%;
  h2, p {
    text-align: center;
  }

  h2 {
    font-weight: $font-weight-light;
    margin-bottom: 1.5rem;
  }

  .lead {
    margin-bottom: 1.5rem;
  }

  h2 + .form-v1,
  .lead + .form-v1 {
    margin-top: 2.5rem;
  }

  .additional-info {
    font-size: $font-size-sm;
    margin-bottom: 0;
    line-height: 1.5rem;
  }

  a:not(.btn) {
    color: $body-color;
    text-decoration: underline;
    &:hover {
      color: $primary;
    }
  }
}

.form-v1 {
  .form-v1__remember {
    margin-bottom: 1.25rem;
    .ant-form-item-control {
      line-height: $line-height-sm;
    }
  }
}

.ant-form-item-label{
  label {
    color: white!important;
    font-size: 16px;
  }
}

.ant-select-selection--single {
  background: #191C1B !important;
    border: none;
    height: 48px;
    color: white !important;
}

.ant-select-selection--single .ant-select-selection__rendered {
  padding-top: 8px;
}

.experiment {
  input, textarea {
    background: #191C1B!important;
    border: none;
    height: 48px;
    color: white!important;
    padding: 0px 20px;
  }
  .submit-btn {
    background: linear-gradient( 
      180deg, #E26534 0%, #BF4459 100%);
    border-radius: 9px;
    width: 250px;
    color: white;
    border: none;
  }
  button:hover,button:focus, button:active {
    background: linear-gradient( 
      180deg, #E26534 0%, #BF4459 100%);
      color: white;
  }
  .ant-upload.ant-upload-drag {
    background: #191c1b;
    border: none;
    height: 350px;
    width: 100%;
  }
  .ant-upload.ant-upload-drag .ant-upload-btn {
    background: #191c1b;
    border-radius: 9px;
  }
  .ant-upload.ant-upload-drag p.ant-upload-text {
    color: white;
  }
}

.goals {
  input {
    width: 250px;
    padding-left: 40px;
  }
  i.anticon.anticon-calendar.ant-calendar-picker-icon {
    color: white;
    position: absolute;
    left: 15px;
  }
}
.custom-modal-v1 .ant-modal-body {
  padding: 15px!important;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px;
}